ch03/__pycache__/
ch04/__pycache__/
ch05/__pycache__/
dataset/__pycache__/
common/__pycache__/
ch03/sample.py
ch03/mnist_test.py
ch03/sample_weight.pkl
ch04/minibatch_sample.py
dataset/t10k-images-idx3-ubyte.gz
dataset/t10k-labels-idx1-ubyte.gz
dataset/train-images-idx3-ubyte.gz
dataset/train-labels-idx1-ubyte.gz
dataset/mnist.pkl
